.card {
  height: 372px;
  width: 371px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.card .top {
  box-sizing: border-box;
  height: 126px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 26px 30px;
}

.card .bottom {
  box-sizing: border-box;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.card h1 {
  margin: 0;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
}

.card .emoji {
  font-size: 70px;
  line-height: 70px;
}

.card h2 {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-family: "Lora";
  font-weight: normal;
  line-height: 47px;
  text-align: center;
}

.card button {
  height: 50px;
  width: 311px;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 18px;
  cursor: pointer;
}

/* Styling for the "clicked card" */
.clicked-card .top,
.clicked-card .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: 0;
  transition: 1s;
}

/* The difference on top and bottom parts*/
.clicked-card .top {
  top: 0;
}

.clicked-card .bottom {
  bottom: 0;
}

/* hover effect on top part*/
.clicked-card .top:hover {
  transition: 1s;
  height: 100%;
  z-index: 99;
  top: 0;
}

/* hover effect on bottom part*/
.clicked-card .bottom:hover {
  transition: 1s;
  height: 100%;
  z-index: 99;
  bottom: 0;
}
