:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424de;
  background: #faf9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}

li {
  text-align: left;
}

.app-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: space-between;
}

.app-li {
  margin-bottom: 10px; /* Add some space between list items */
}

.heading {
  font-size: 1.5em;
}

.list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: space-between;
}

.listItem {
  margin-bottom: 10px; /* Add some space between list items */
}

.listItem a {
  text-decoration: none;
}

.listItem .active {
  text-decoration: underline;
}
