*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.notesList {
  list-style-type: none;
  padding: 0;
}

.noteItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.removeButton,
.addButton {
  margin-left: 10px;
  padding: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.addButton {
  background-color: green;
}
