body {
  font-family: sans-serif;
}

h1 {
  color: black;
}

p {
  color: black;
}

.box {
  height: 300px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
