* {
  background-color:white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;

  div {
    margin: 10px;
  }
}

h1 {
  color: black;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.section {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightcoral;
  text-align: center;
  border-radius: 8px;
  line-break: auto;
}

.sectionlist {
  margin: 10px;
  padding: 10px;
  border: 1px solid #333030;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #011225;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

input,
select {
  border: 3px solid #555;
  margin-left: 4px;
}
