* {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#myDiv,
.highlight,
.list,
.headingSection,
.boxSection {
  border: 1px solid grey;
  padding: 8px;
}

.highlight,
.list,
.headingSection {
  margin: 12px 0 12px 0;
}

button {
  display: block;
  margin: 1em 0;
}

#myButton,
#myButtonOne,
#myButtonTwo {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#myButtonOne {
  background-color: #f44336;
}

#myButtonTwo {
  background-color: #008cba;
}

.my-dynamically-created-class {
  background: red;
}
